:host {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.ellips-1 {
  position: absolute;
  top: 169px;
  left: - 125px;
  width: 205px;
  height: 205px;
  border-radius: 50%;
  background-color: #FBA657;
  opacity: .6;
  filter: blur(16);
  z-index: -1;
}

.ellips-2 {
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 226px;
  height: 226px;
  border-radius: 50%;
  background-color: #FE9B4B;
  opacity: .6;
  filter: blur(100);
  z-index: -1;
}

.ellips-3 {
  position: absolute;
  top: -125px;
  right: -148px;
  width: 296px;
  height: 296px;
  border-radius: 50%;
  background-color: #656CEE;
  opacity: .6;
  z-index: -1;
}

.ellips-4 {
  position: absolute;
  bottom: 10vh;
  right: -160px;
  width: 296px;
  height: 296px;
  border-radius: 50%;
  background-color: #656CEE;
  opacity: .6;
  z-index: -1;
}

.background {
  position: fixed;
  inset: 0;
  background: #ffffff66;
  backdrop-filter: blur(140px);
  z-index: -1;
}